<header>
  <nav>
    <img src="logo.png" alt="Koi Basketball League Logo">
    <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#teams">Teams</a></li>
        <li><a href="#schedule">Schedule</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
    <a href="#signin">Sign In/Register</a>
  </nav>
</header>